# Tutorial on pandas

## Erik Amézquita

## Computational Math, Science, and Engineering

## Michigan State University

### August 3rd, 2020

# Load the libraries

Make sure you got `pandas`, `numpy` and `seaborn` installed. You should have these already installed if you're using anaconda.

- `re`: handling of regular expressions (comes by default with python)
- `numpy`: Manipulate numeric arrays and number cruching
- `pandas`: Flexible data wrangling
- `seaborn`: Nice data visualization

In [1]:
import re
import numpy as np
import pandas as pd
import seaborn as sns

# Load the data

We will examine the file `data/college_data.csv`. The file contains more than 160 different variables for the 395 doctoral universities in the US. The data was obtained from [Integrated Postsecondary Education Data System (IPEDS)](https://nces.ed.gov/ipeds/use-the-data). The variables correspond the most recent available academic year. In most of the cases, this mean 2018-19. However, some variables are from the 2017-18 year.

In general, `pandas` can read/write CSV, TSV, XSLX, ODS, and more. You might need extra libraries when dealing with spreadsheets. Check `openpyxl`.

`.head()` and `.tail()` help us display just the first/last results of our data set, to get an idea how the whole file looks like.

In [2]:
data = pd.read_csv('../data/college_data.csv')
data.head()

,UnitID,Institution Name,Average net price-students awarded grant or scholarship aid 2017-18 (SFA1718),Average net price (income 0-30 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 30 001-48 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 48 001-75 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 75 001-110 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income over 110 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Percent of full-time first-time undergraduates awarded any financial aid (SFA1718),Average amount of federal state local or institutional grant aid awarded (SFA1718),...,Ongoing commitments to subscriptions as a percent of total library expenditures (DRVAL2018),Total operations and maintenance as a percent of total library expenditures (DRVAL2018),Total library expenditures per FTE (DRVAL2018),Full-time first-time degree/certificate-seeking students required to live on campus (IC2018),Total dormitory capacity (IC2018),Number of meals per week in board charge (IC2018),Typical room charge for academic year (IC2018),Typical board charge for academic year (IC2018),Undergraduate application fee (IC2018),Graduate application fee (IC2018)
0,188429,Adelphi University,28406.0,24209.0,26259.0,29008.0,30762.0,32600.0,91.0,20705.0,...,16,6,887,2,1300.0,NaN,10460.0,5520.0,40.0,50
1,131159,American University,33034.0,21371.0,20960.0,26574.0,32751.0,45685.0,76.0,31053.0,...,32,10,1332,2,4682.0,NaN,9996.0,6104.0,70.0,61
2,168740,Andrews University,21820.0,16373.0,17179.0,17878.0,22684.0,24580.0,99.0,17305.0,...,25,9,1089,2,1244.0,NaN,4778.0,4300.0,30.0,60
3,448886,Arizona State University-Downtown Phoenix,13081.0,7551.0,9705.0,14899.0,18646.0,19759.0,97.0,12606.0,...,34,11,234,2,1284.0,NaN,9536.0,5048.0,50.0,70
4,483124,Arizona State University-Skysong,14166.0,11466.0,12648.0,16500.0,20296.0,23351.0,82.0,10093.0,...,34,11,81,2,40.0,NaN,7272.0,5079.0,70.0,70

# Data wrangling

- A pandas dataframe consists of rows (index) and columns (columns).
- Just as R `data.frame`, the name of rows and columns will be kept as we slice, mask, and wrangle the data.

## Make an existing column our new row names
- Use `.set_index()` to rename our rows according to the institution name.
- **Beware:** The `inplace` option re-writes our original data set.

In [3]:
data.set_index('Institution Name', inplace=True)
data.head()

,UnitID,Average net price-students awarded grant or scholarship aid 2017-18 (SFA1718),Average net price (income 0-30 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 30 001-48 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 48 001-75 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 75 001-110 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income over 110 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Percent of full-time first-time undergraduates awarded any financial aid (SFA1718),Average amount of federal state local or institutional grant aid awarded (SFA1718),Percent of full-time first-time undergraduates awarded student loans (SFA1718),...,Ongoing commitments to subscriptions as a percent of total library expenditures (DRVAL2018),Total operations and maintenance as a percent of total library expenditures (DRVAL2018),Total library expenditures per FTE (DRVAL2018),Full-time first-time degree/certificate-seeking students required to live on campus (IC2018),Total dormitory capacity (IC2018),Number of meals per week in board charge (IC2018),Typical room charge for academic year (IC2018),Typical board charge for academic year (IC2018),Undergraduate application fee (IC2018),Graduate application fee (IC2018)
Institution Name,,,,,,,,,,,,,,,,,,,,,
Adelphi University,188429,28406.0,24209.0,26259.0,29008.0,30762.0,32600.0,91.0,20705.0,58.0,...,16,6,887,2,1300.0,NaN,10460.0,5520.0,40.0,50
American University,131159,33034.0,21371.0,20960.0,26574.0,32751.0,45685.0,76.0,31053.0,56.0,...,32,10,1332,2,4682.0,NaN,9996.0,6104.0,70.0,61
Andrews University,168740,21820.0,16373.0,17179.0,17878.0,22684.0,24580.0,99.0,17305.0,64.0,...,25,9,1089,2,1244.0,NaN,4778.0,4300.0,30.0,60
Arizona State University-Downtown Phoenix,448886,13081.0,7551.0,9705.0,14899.0,18646.0,19759.0,97.0,12606.0,41.0,...,34,11,234,2,1284.0,NaN,9536.0,5048.0,50.0,70
Arizona State University-Skysong,483124,14166.0,11466.0,12648.0,16500.0,20296.0,23351.0,82.0,10093.0,49.0,...,34,11,81,2,40.0,NaN,7272.0,5079.0,70.0,70

## We don't need all these columns

- We can drop easily columns/rows that we don't care about right now.
- We won't be using `UnitID`, so we'll get rid of it.
- Do `.drop(colums=[list of colnames], index=[list of row names])`

In [4]:
data.drop(columns=['UnitID'], inplace=True)
data.head()

,Average net price-students awarded grant or scholarship aid 2017-18 (SFA1718),Average net price (income 0-30 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 30 001-48 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 48 001-75 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income 75 001-110 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Average net price (income over 110 000)-students awarded Title IV federal financial aid 2017-18 (SFA1718),Percent of full-time first-time undergraduates awarded any financial aid (SFA1718),Average amount of federal state local or institutional grant aid awarded (SFA1718),Percent of full-time first-time undergraduates awarded student loans (SFA1718),Average amount of student loans awarded to full-time first-time undergraduates (SFA1718),...,Ongoing commitments to subscriptions as a percent of total library expenditures (DRVAL2018),Total operations and maintenance as a percent of total library expenditures (DRVAL2018),Total library expenditures per FTE (DRVAL2018),Full-time first-time degree/certificate-seeking students required to live on campus (IC2018),Total dormitory capacity (IC2018),Number of meals per week in board charge (IC2018),Typical room charge for academic year (IC2018),Typical board charge for academic year (IC2018),Undergraduate application fee (IC2018),Graduate application fee (IC2018)
Institution Name,,,,,,,,,,,,,,,,,,,,,
Adelphi University,28406.0,24209.0,26259.0,29008.0,30762.0,32600.0,91.0,20705.0,58.0,8728.0,...,16,6,887,2,1300.0,NaN,10460.0,5520.0,40.0,50
American University,33034.0,21371.0,20960.0,26574.0,32751.0,45685.0,76.0,31053.0,56.0,7801.0,...,32,10,1332,2,4682.0,NaN,9996.0,6104.0,70.0,61
Andrews University,21820.0,16373.0,17179.0,17878.0,22684.0,24580.0,99.0,17305.0,64.0,10091.0,...,25,9,1089,2,1244.0,NaN,4778.0,4300.0,30.0,60
Arizona State University-Downtown Phoenix,13081.0,7551.0,9705.0,14899.0,18646.0,19759.0,97.0,12606.0,41.0,6611.0,...,34,11,234,2,1284.0,NaN,9536.0,5048.0,50.0,70
Arizona State University-Skysong,14166.0,11466.0,12648.0,16500.0,20296.0,23351.0,82.0,10093.0,49.0,7636.0,...,34,11,81,2,40.0,NaN,7272.0,5079.0,70.0,70

## Rename the column names

- We don't need the `(SFA1718)` at the end of every single column name.
- Some column names have double spaces between some words.
- Column names with non alphanumeric characters (or `_`) are troublesome whenever trying to do more advanced wrangling.
- We'll substitute the blanks and other weird characters with `_`.
- (The original names can be saved and replaced at the very end)
- Python comes with already good support to manipulate strings.
- _Bonus_: The library `re` gives us fine control of regular expression in python
- Rename the columns/rows with `.rename`
- _Bonus_: We can pass a lambda function

In [32]:
#remove_chars = string
foo = "Average' net price (income 30 001-48 000)-students awarded Title IV federal financial   aid 2017-18 (SFA1718)"
print(foo)
bar = '_'.join(re.split("\s+", foo, flags=re.UNICODE)[:-1])
print(bar)
print(bar.translate(str.maketrans("'-/+!@#$%^&*()+=?",'_________________', "'-/&")))

Average' net price (income 30 001-48 000)-students awarded Title IV federal financial   aid 2017-18 (SFA1718)
Average'_net_price_(income_30_001-48_000)-students_awarded_Title_IV_federal_financial_aid_2017-18
Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718

In [6]:
data.rename(columns = lambda x : '_'.join(re.split("\s+", str(x), flags=re.UNICODE)[:-1]).translate(str.maketrans("'-/+!@#$%^&*()+=?",'_________________', "'-/&")), 
            inplace=True)
data.head()

,Average_net_pricestudents_awarded_grant_or_scholarship_aid_201718,Average_net_price__income_030_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_48_00175_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_75_001110_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_over_110_000_students_awarded_Title_IV_federal_financial_aid_201718,Percent_of_fulltime_firsttime_undergraduates_awarded_any_financial_aid,Average_amount_of_federal_state_local_or_institutional_grant_aid_awarded,Percent_of_fulltime_firsttime_undergraduates_awarded_student_loans,Average_amount_of_student_loans_awarded_to_fulltime_firsttime_undergraduates,...,Ongoing_commitments_to_subscriptions_as_a_percent_of_total_library_expenditures,Total_operations_and_maintenance_as_a_percent_of_total_library_expenditures,Total_library_expenditures_per_FTE,Fulltime_firsttime_degreecertificateseeking_students_required_to_live_on_campus,Total_dormitory_capacity,Number_of_meals_per_week_in_board_charge,Typical_room_charge_for_academic_year,Typical_board_charge_for_academic_year,Undergraduate_application_fee,Graduate_application_fee
Institution Name,,,,,,,,,,,,,,,,,,,,,
Adelphi University,28406.0,24209.0,26259.0,29008.0,30762.0,32600.0,91.0,20705.0,58.0,8728.0,...,16,6,887,2,1300.0,NaN,10460.0,5520.0,40.0,50
American University,33034.0,21371.0,20960.0,26574.0,32751.0,45685.0,76.0,31053.0,56.0,7801.0,...,32,10,1332,2,4682.0,NaN,9996.0,6104.0,70.0,61
Andrews University,21820.0,16373.0,17179.0,17878.0,22684.0,24580.0,99.0,17305.0,64.0,10091.0,...,25,9,1089,2,1244.0,NaN,4778.0,4300.0,30.0,60
Arizona State University-Downtown Phoenix,13081.0,7551.0,9705.0,14899.0,18646.0,19759.0,97.0,12606.0,41.0,6611.0,...,34,11,234,2,1284.0,NaN,9536.0,5048.0,50.0,70
Arizona State University-Skysong,14166.0,11466.0,12648.0,16500.0,20296.0,23351.0,82.0,10093.0,49.0,7636.0,...,34,11,81,2,40.0,NaN,7272.0,5079.0,70.0,70

# Creating and saving data

## Create a DataFrame out of almost anything

- We can create easily a DataFrame from a number of different structures
    - dictionary
    - numpy 1D or 2D array
    - scalar
    - pieces of another DataFrame
- We can define the name of columns and indices

- We will be referring to the name of columns quite a bit, so we might better keep a handy copy of all column names.

In [7]:
pd.DataFrame(data.columns, columns=['columns'])

                                               columns
0    Average_net_pricestudents_awarded_grant_or_sch...
1    Average_net_price__income_030_000_students_awa...
2    Average_net_price__income_30_00148_000_student...
3    Average_net_price__income_48_00175_000_student...
4    Average_net_price__income_75_001110_000_studen...
..                                                 ...
162           Number_of_meals_per_week_in_board_charge
163              Typical_room_charge_for_academic_year
164             Typical_board_charge_for_academic_year
165                      Undergraduate_application_fee
166                           Graduate_application_fee

[167 rows x 1 columns]

## Save a DataFrame

- `to_csv` saves a text file. 
    - By default it separates with `,`, but we can specify a different separators
    - We'll keep the name (number) of the indices
- `to_excel` saves a spreadsheet instead.
- _Bonus:_ We can chain multiple operations in a single line!

In [8]:
pd.DataFrame(data.columns, columns=['columns']).to_csv('../data/columns.txt', sep='\t', index=True)

# Slice and dice

## Basic indexing and selection

- `data[colname]` will return a Series (1D equivalent of a DataFrame)
- `data.loc[rowname]` will return a specificly named row 
- `data.iloc[number]` will return a the `number` row
- `data[slice]` will return a slice of rows
- `data.iloc[rowslice, colslice]` returns a subset of the dataframe
- Use `.values` to get only the values (discard row/col names) as a numpy array.

In [9]:
data['Average_amount_of_federal_state_local_or_institutional_grant_aid_awarded']

Institution Name
Adelphi University                           20705.0
American University                          31053.0
Andrews University                           17305.0
Arizona State University-Downtown Phoenix    12606.0
Arizona State University-Skysong             10093.0
                                              ...
Wingate University                           25603.0
Worcester Polytechnic Institute              20929.0
Wright State University-Main Campus           6613.0
Yale University                              52542.0
Yeshiva University                           27530.0
Name: Average_amount_of_federal_state_local_or_institutional_grant_aid_awarded, Length: 395, dtype: float64

In [10]:
data.loc['Michigan State University']

Average_net_pricestudents_awarded_grant_or_scholarship_aid_201718                                 16227
Average_net_price__income_030_000_students_awarded_Title_IV_federal_financial_aid_201718           6446
Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718     14743
Average_net_price__income_48_00175_000_students_awarded_Title_IV_federal_financial_aid_201718     20481
Average_net_price__income_75_001110_000_students_awarded_Title_IV_federal_financial_aid_201718    25162
                                                                                                  ...
Number_of_meals_per_week_in_board_charge                                                            NaN
Typical_room_charge_for_academic_year                                                              4292
Typical_board_charge_for_academic_year                                                             6030
Undergraduate_application_fee                                                                        65
Graduate_application_fee                                                                             65
Name: Michigan State University, Length: 167, dtype: object

In [11]:
data.iloc[313]

Average_net_pricestudents_awarded_grant_or_scholarship_aid_201718                                 16856
Average_net_price__income_030_000_students_awarded_Title_IV_federal_financial_aid_201718           3962
Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718      6257
Average_net_price__income_48_00175_000_students_awarded_Title_IV_federal_financial_aid_201718     10956
Average_net_price__income_75_001110_000_students_awarded_Title_IV_federal_financial_aid_201718    16883
                                                                                                  ...
Number_of_meals_per_week_in_board_charge                                                            NaN
Typical_room_charge_for_academic_year                                                               NaN
Typical_board_charge_for_academic_year                                                              NaN
Undergraduate_application_fee                                                                        75
Graduate_application_fee                                                                             75
Name: University of Michigan-Ann Arbor, Length: 167, dtype: object

In [12]:
data[328:332]

,Average_net_pricestudents_awarded_grant_or_scholarship_aid_201718,Average_net_price__income_030_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_48_00175_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_75_001110_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_over_110_000_students_awarded_Title_IV_federal_financial_aid_201718,Percent_of_fulltime_firsttime_undergraduates_awarded_any_financial_aid,Average_amount_of_federal_state_local_or_institutional_grant_aid_awarded,Percent_of_fulltime_firsttime_undergraduates_awarded_student_loans,Average_amount_of_student_loans_awarded_to_fulltime_firsttime_undergraduates,...,Ongoing_commitments_to_subscriptions_as_a_percent_of_total_library_expenditures,Total_operations_and_maintenance_as_a_percent_of_total_library_expenditures,Total_library_expenditures_per_FTE,Fulltime_firsttime_degreecertificateseeking_students_required_to_live_on_campus,Total_dormitory_capacity,Number_of_meals_per_week_in_board_charge,Typical_room_charge_for_academic_year,Typical_board_charge_for_academic_year,Undergraduate_application_fee,Graduate_application_fee
Institution Name,,,,,,,,,,,,,,,,,,,,,
University of North Carolina at Chapel Hill,11649.0,4159.0,6302.0,11501.0,18855.0,24193.0,67.0,17135.0,28.0,6478.0,...,25,13,1590,2,10113.0,99.0,6610.0,4580.0,85.0,90
University of North Carolina at Charlotte,14987.0,11476.0,13323.0,17310.0,20668.0,21763.0,74.0,7737.0,58.0,7025.0,...,33,12,522,2,6299.0,NaN,6370.0,4730.0,60.0,75
University of North Carolina at Greensboro,10396.0,8236.0,9722.0,13881.0,18289.0,19385.0,87.0,9561.0,67.0,5724.0,...,25,13,735,2,5683.0,NaN,6771.0,3657.0,65.0,65
University of North Carolina Wilmington,17771.0,12443.0,14083.0,18673.0,22314.0,23469.0,76.0,6079.0,54.0,6990.0,...,35,14,518,2,4147.0,NaN,6660.0,4026.0,80.0,75

In [13]:
data.iloc[:, 46:57].tail()

,Percent_of_graduate_enrollment_that_are_American_Indian_or_Alaska_Native,Percent_of_graduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander,Percent_of_graduate_enrollment_that_are_Asian,Percent_of_graduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander,Percent_of_graduate_enrollment_that_are_Black_or_African_American,Percent_of_graduate_enrollment_that_are_HispanicLatino,Percent_of_graduate_enrollment_that_are_White,Percent_of_graduate_enrollment_that_are_two_or_more_races,Percent_of_graduate_enrollment_that_are_Raceethnicity_unknown,Percent_of_graduate_enrollment_that_are_Nonresident_Alien,Percent_of_graduate_enrollment_that_are_women
Institution Name,,,,,,,,,,,
Wingate University,1,8,8,0,15,3,65,2,4,2,63
Worcester Polytechnic Institute,0,5,5,0,3,4,46,1,2,39,30
Wright State University-Main Campus,0,5,5,0,10,2,65,2,1,14,57
Yale University,0,12,11,0,4,7,43,4,2,29,52
Yeshiva University,0,9,9,0,4,7,42,1,28,9,58

## Masking

- Get a subset of rows based on a boolean (True/False) condition
- It is possible to chain multiple conditions
   - Each condition must be enclosed in parenthesis
   - Use `&` for `and`
   - Use `|` for `or`
   - Use `~` for `not`

In [14]:
data[(data['Graduation_rate_Black_nonHispanic'] < 34) & (data['State_abbreviation'] == 'MI')]

,Average_net_pricestudents_awarded_grant_or_scholarship_aid_201718,Average_net_price__income_030_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_48_00175_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_75_001110_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_over_110_000_students_awarded_Title_IV_federal_financial_aid_201718,Percent_of_fulltime_firsttime_undergraduates_awarded_any_financial_aid,Average_amount_of_federal_state_local_or_institutional_grant_aid_awarded,Percent_of_fulltime_firsttime_undergraduates_awarded_student_loans,Average_amount_of_student_loans_awarded_to_fulltime_firsttime_undergraduates,...,Ongoing_commitments_to_subscriptions_as_a_percent_of_total_library_expenditures,Total_operations_and_maintenance_as_a_percent_of_total_library_expenditures,Total_library_expenditures_per_FTE,Fulltime_firsttime_degreecertificateseeking_students_required_to_live_on_campus,Total_dormitory_capacity,Number_of_meals_per_week_in_board_charge,Typical_room_charge_for_academic_year,Typical_board_charge_for_academic_year,Undergraduate_application_fee,Graduate_application_fee
Institution Name,,,,,,,,,,,,,,,,,,,,,
Eastern Michigan University,15687.0,13260.0,13584.0,15164.0,18534.0,19196.0,98.0,7916.0,60.0,6418.0,...,32,5,455,2,4350.0,21.0,NaN,NaN,35.0,45
Ferris State University,13351.0,9013.0,10960.0,13967.0,16310.0,18710.0,97.0,9384.0,68.0,7487.0,...,23,7,367,2,3356.0,NaN,5376.0,4518.0,0.0,0
Oakland University,12384.0,7176.0,7304.0,9637.0,15129.0,17872.0,92.0,9322.0,50.0,5271.0,...,38,6,521,2,3440.0,NaN,NaN,NaN,0.0,45
Wayne State University,14366.0,11607.0,11996.0,13432.0,18758.0,19911.0,94.0,9518.0,49.0,5857.0,...,48,9,791,2,2835.0,NaN,6572.0,3930.0,25.0,50

## Save a subset

- Save a subset if you're intersted in going through it with more detail.

In [15]:
low_black_graduation = data.loc[data['Graduation_rate_Black_nonHispanic'] < 34]
print(low_black_graduation.shape)
low_black_graduation[low_black_graduation['Carnegie_Classification'] == 'Very High Research Activity']

(78, 167)

,Average_net_pricestudents_awarded_grant_or_scholarship_aid_201718,Average_net_price__income_030_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_48_00175_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_75_001110_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_over_110_000_students_awarded_Title_IV_federal_financial_aid_201718,Percent_of_fulltime_firsttime_undergraduates_awarded_any_financial_aid,Average_amount_of_federal_state_local_or_institutional_grant_aid_awarded,Percent_of_fulltime_firsttime_undergraduates_awarded_student_loans,Average_amount_of_student_loans_awarded_to_fulltime_firsttime_undergraduates,...,Ongoing_commitments_to_subscriptions_as_a_percent_of_total_library_expenditures,Total_operations_and_maintenance_as_a_percent_of_total_library_expenditures,Total_library_expenditures_per_FTE,Fulltime_firsttime_degreecertificateseeking_students_required_to_live_on_campus,Total_dormitory_capacity,Number_of_meals_per_week_in_board_charge,Typical_room_charge_for_academic_year,Typical_board_charge_for_academic_year,Undergraduate_application_fee,Graduate_application_fee
Institution Name,,,,,,,,,,,,,,,,,,,,,
Montana State University,15801.0,14810.0,15506.0,18729.0,20321.0,20464.0,87.0,6276.0,46.0,6859.0,...,56,4,592,2,4200.0,NaN,NaN,NaN,30.0,60
The University of Texas at El Paso,7720.0,7199.0,7774.0,11472.0,16530.0,16927.0,88.0,9068.0,39.0,4465.0,...,41,7,319,2,988.0,NaN,5200.0,4581.0,0.0,45
University of Wisconsin-Milwaukee,14555.0,12201.0,13858.0,18172.0,21231.0,21806.0,83.0,5560.0,65.0,7565.0,...,38,7,343,2,4310.0,NaN,6150.0,4028.0,50.0,56
Wayne State University,14366.0,11607.0,11996.0,13432.0,18758.0,19911.0,94.0,9518.0,49.0,5857.0,...,48,9,791,2,2835.0,NaN,6572.0,3930.0,25.0,50

# Basic arithmetic

- Each column has a specific data type: int, float, bool, object (string most of the times)
- Check it with `.dtypes`
- Keep in mind the dtype when performing numeric operations
- Use `.astype()` to change dtypes (upcasting and downcasting)
- Use `.select_dtypes()` to make subsets based on dtype.

In [16]:
print(data.dtypes['Graduate_enrollment'])
print(data.dtypes['State_abbreviation'])
print(data.dtypes['Average_salary_equated_to_9_months_of_fulltime_instructional_staff__professors'])
data.astype({'Graduate_application_fee': 'uint64'}).dtypes

int64
object
float64

Average_net_pricestudents_awarded_grant_or_scholarship_aid_201718                                 float64
Average_net_price__income_030_000_students_awarded_Title_IV_federal_financial_aid_201718          float64
Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718     float64
Average_net_price__income_48_00175_000_students_awarded_Title_IV_federal_financial_aid_201718     float64
Average_net_price__income_75_001110_000_students_awarded_Title_IV_federal_financial_aid_201718    float64
                                                                                                   ...
Number_of_meals_per_week_in_board_charge                                                          float64
Typical_room_charge_for_academic_year                                                             float64
Typical_board_charge_for_academic_year                                                            float64
Undergraduate_application_fee                                                                     float64
Graduate_application_fee                                                                           uint64
Length: 167, dtype: object

In [17]:
data.select_dtypes(include=['object'])

,State_abbreviation,Sector_of_institution,Carnegie_Classification,Land_Grant_Institution
Institution Name,,,,
Adelphi University,NY,Private,Doctoral/Professional,No
American University,DC,Private,High Research Activity,No
Andrews University,MI,Private,Doctoral/Professional,No
Arizona State University-Downtown Phoenix,AZ,Public,High Research Activity,No
Arizona State University-Skysong,AZ,Public,High Research Activity,No
...,...,...,...,...
Wingate University,NC,Private,Doctoral/Professional,No
Worcester Polytechnic Institute,MA,Private,High Research Activity,No
Wright State University-Main Campus,OH,Public,High Research Activity,No
Yale University,CT,Private,Very High Research Activity,No
Yeshiva University,NY,Private,High Research Activity,No

## Basic arithmetic

- Assuming that dtype is numeric, and that there are no weird situations (like dividing by zero).
- Operations are intuitive and can be performed column-wise.
- Extract values with `.values` to use numpy's functions.

## Define new columns

- As easy as `data[newcol] = something`, provided that dimensions are correct

In [18]:
data['Percentage_of_fulltime_undergraduate_enrollment'] = 100*data['Fulltime_undergraduate_enrollment']/data['Undergraduate_enrollment']
data['Percentage_of_fulltime_graduate_enrollment'] = 100*data['Fulltime_graduate_enrollment']/data['Graduate_enrollment']
data.head()

,Average_net_pricestudents_awarded_grant_or_scholarship_aid_201718,Average_net_price__income_030_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_30_00148_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_48_00175_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_75_001110_000_students_awarded_Title_IV_federal_financial_aid_201718,Average_net_price__income_over_110_000_students_awarded_Title_IV_federal_financial_aid_201718,Percent_of_fulltime_firsttime_undergraduates_awarded_any_financial_aid,Average_amount_of_federal_state_local_or_institutional_grant_aid_awarded,Percent_of_fulltime_firsttime_undergraduates_awarded_student_loans,Average_amount_of_student_loans_awarded_to_fulltime_firsttime_undergraduates,...,Total_library_expenditures_per_FTE,Fulltime_firsttime_degreecertificateseeking_students_required_to_live_on_campus,Total_dormitory_capacity,Number_of_meals_per_week_in_board_charge,Typical_room_charge_for_academic_year,Typical_board_charge_for_academic_year,Undergraduate_application_fee,Graduate_application_fee,Percentage_of_fulltime_undergraduate_enrollment,Percentage_of_fulltime_graduate_enrollment
Institution Name,,,,,,,,,,,,,,,,,,,,,
Adelphi University,28406.0,24209.0,26259.0,29008.0,30762.0,32600.0,91.0,20705.0,58.0,8728.0,...,887,2,1300.0,NaN,10460.0,5520.0,40.0,50,93.785940,54.664247
American University,33034.0,21371.0,20960.0,26574.0,32751.0,45685.0,76.0,31053.0,56.0,7801.0,...,1332,2,4682.0,NaN,9996.0,6104.0,70.0,61,95.957524,57.818725
Andrews University,21820.0,16373.0,17179.0,17878.0,22684.0,24580.0,99.0,17305.0,64.0,10091.0,...,1089,2,1244.0,NaN,4778.0,4300.0,30.0,60,79.083431,56.363636
Arizona State University-Downtown Phoenix,13081.0,7551.0,9705.0,14899.0,18646.0,19759.0,97.0,12606.0,41.0,6611.0,...,234,2,1284.0,NaN,9536.0,5048.0,50.0,70,89.485176,78.938237
Arizona State University-Skysong,14166.0,11466.0,12648.0,16500.0,20296.0,23351.0,82.0,10093.0,49.0,7636.0,...,81,2,40.0,NaN,7272.0,5079.0,70.0,70,38.525856,30.159817

# Merge dataframes

- We can concatenate several dataframes in one, assuming their dimensions are right
- We can also join them
    - This merge can be limited to only row names in common
    - Or the union of both set of row names.
    - Or based solely on the row names from the right/left data frame

In [19]:
enrollment1 = data.iloc[:, 31:65]
enrollment2 = data.iloc[:, -4:].drop(index='Adelphi University')
enrollment = enrollment1.join(enrollment2, how='outer')
enrollment.head()

,Undergraduate_enrollment,Graduate_enrollment,Fulltime_graduate_enrollment,Fulltime_undergraduate_enrollment,Percent_of_undergraduate_enrollment_that_are_American_Indian_or_Alaska_Native,Percent_of_undergraduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander,Percent_of_undergraduate_enrollment_that_are_Asian,Percent_of_undergraduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander,Percent_of_undergraduate_enrollment_that_are_Black_or_African_American,Percent_of_undergraduate_enrollment_that_are_HispanicLatino,...,Number_of_firsttime_undergraduates__outofstate,Percent_of_firsttime_undergraduates__outofstate,Number_of_firsttime_undergraduates__foreign_countries,Percent_of_firsttime_undergraduates__foreign_countries,Total_enrollment,Fulltime_enrollment,Undergraduate_application_fee,Graduate_application_fee,Percentage_of_fulltime_undergraduate_enrollment,Percentage_of_fulltime_graduate_enrollment
Institution Name,,,,,,,,,,,,,,,,,,,,,
Adelphi University,5391,2755,1506,5056,0,11,11,0,9,17,...,100.0,8.0,42.0,3.0,8146,6562,NaN,NaN,NaN,NaN
American University,8287,6024,3483,7952,0,7,7,0,7,12,...,1648.0,94.0,60.0,3.0,14311,11435,70.0,61.0,95.957524,57.818725
Andrews University,1702,1705,961,1346,0,13,13,0,18,14,...,171.0,58.0,38.0,13.0,3407,2307,30.0,60.0,79.083431,56.363636
Arizona State University-Downtown Phoenix,8702,2882,2275,7787,2,6,6,0,6,32,...,506.0,36.0,12.0,1.0,11584,10062,50.0,70.0,89.485176,78.938237
Arizona State University-Skysong,29780,8760,2642,11473,1,4,4,0,7,20,...,1517.0,64.0,15.0,1.0,38540,14115,70.0,70.0,38.525856,30.159817

# Basic statistics

- We can compute mean, variance, median, mode, etc, of every column/row

In [20]:
enrollment.mean(axis=0)

Undergraduate_enrollment                                                                  12724.448101
Graduate_enrollment                                                                        4720.288608
Fulltime_graduate_enrollment                                                               2905.108861
Fulltime_undergraduate_enrollment                                                         10763.812658
Percent_of_undergraduate_enrollment_that_are_American_Indian_or_Alaska_Native                 0.288608
Percent_of_undergraduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander             7.493671
Percent_of_undergraduate_enrollment_that_are_Asian                                            7.288608
Percent_of_undergraduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander        0.093671
Percent_of_undergraduate_enrollment_that_are_Black_or_African_American                       10.749367
Percent_of_undergraduate_enrollment_that_are_HispanicLatino                                  13.815190
Percent_of_undergraduate_enrollment_that_are_White                                           54.318987
Percent_of_undergraduate_enrollment_that_are_two_or_more_races                                3.994937
Percent_of_undergraduate_enrollment_that_are_Raceethnicity_unknown                            3.592405
Percent_of_undergraduate_enrollment_that_are_Nonresident_Alien                                5.511392
Percent_of_undergraduate_enrollment_that_are_women                                           55.954430
Percent_of_graduate_enrollment_that_are_American_Indian_or_Alaska_Native                      0.288608
Percent_of_graduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander                  5.794937
Percent_of_graduate_enrollment_that_are_Asian                                                 5.675949
Percent_of_graduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander             0.053165
Percent_of_graduate_enrollment_that_are_Black_or_African_American                             9.769620
Percent_of_graduate_enrollment_that_are_HispanicLatino                                        9.154430
Percent_of_graduate_enrollment_that_are_White                                                52.777215
Percent_of_graduate_enrollment_that_are_two_or_more_races                                     2.475949
Percent_of_graduate_enrollment_that_are_Raceethnicity_unknown                                 5.101266
Percent_of_graduate_enrollment_that_are_Nonresident_Alien                                    14.551899
Percent_of_graduate_enrollment_that_are_women                                                59.379747
Number_of_firsttime_undergraduates__instate                                                1624.769821
Percent_of_firsttime_undergraduates__instate                                                 63.728900
Number_of_firsttime_undergraduates__outofstate                                              673.636829
Percent_of_firsttime_undergraduates__outofstate                                              31.565217
Number_of_firsttime_undergraduates__foreign_countries                                       114.874680
Percent_of_firsttime_undergraduates__foreign_countries                                        4.112532
Total_enrollment                                                                          17444.736709
Fulltime_enrollment                                                                       13668.921519
Undergraduate_application_fee                                                                43.551020
Graduate_application_fee                                                                     53.403553
Percentage_of_fulltime_undergraduate_enrollment                                              84.394204
Percentage_of_fulltime_graduate_enrollment                                                   58.299392
dtype: float64

## Summarize everything at once

- `.describe()` is an extremely convenient summary to get a quick idea of how the data is distibuted

In [21]:
enrollment.describe()

,Undergraduate_enrollment,Graduate_enrollment,Fulltime_graduate_enrollment,Fulltime_undergraduate_enrollment,Percent_of_undergraduate_enrollment_that_are_American_Indian_or_Alaska_Native,Percent_of_undergraduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander,Percent_of_undergraduate_enrollment_that_are_Asian,Percent_of_undergraduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander,Percent_of_undergraduate_enrollment_that_are_Black_or_African_American,Percent_of_undergraduate_enrollment_that_are_HispanicLatino,...,Number_of_firsttime_undergraduates__outofstate,Percent_of_firsttime_undergraduates__outofstate,Number_of_firsttime_undergraduates__foreign_countries,Percent_of_firsttime_undergraduates__foreign_countries,Total_enrollment,Fulltime_enrollment,Undergraduate_application_fee,Graduate_application_fee,Percentage_of_fulltime_undergraduate_enrollment,Percentage_of_fulltime_graduate_enrollment
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,...,391.000000,391.000000,391.000000,391.000000,395.000000,395.000000,392.000000,394.000000,394.000000,394.000000
mean,12724.448101,4720.288608,2905.108861,10763.812658,0.288608,7.493671,7.288608,0.093671,10.749367,13.815190,...,673.636829,31.565217,114.874680,4.112532,17444.736709,13668.921519,43.551020,53.403553,84.394204,58.299392
std,10583.903249,4327.065661,3097.831738,9161.199171,0.922228,7.770296,7.681327,0.546178,14.100814,15.659083,...,733.764258,24.217184,202.561297,5.043668,13557.946397,11237.905700,24.222486,24.129255,13.552867,20.665929
min,61.000000,260.000000,0.000000,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,925.000000,461.000000,0.000000,0.000000,14.215475,0.000000
25%,4385.500000,1962.500000,910.000000,3646.500000,0.000000,2.000000,2.000000,0.000000,4.000000,5.000000,...,128.000000,10.000000,11.500000,1.000000,7171.500000,5279.500000,30.000000,40.000000,78.522272,43.340785
50%,9373.000000,3265.000000,1813.000000,7726.000000,0.000000,4.000000,4.000000,0.000000,7.000000,9.000000,...,383.000000,27.000000,34.000000,2.000000,13395.000000,9955.000000,50.000000,50.000000,87.742557,58.984301
75%,19109.000000,5911.000000,3554.500000,16285.500000,0.000000,10.000000,10.000000,0.000000,12.000000,15.000000,...,995.500000,48.500000,129.500000,5.000000,25327.500000,19285.500000,65.000000,70.000000,94.402142,72.515845
max,58821.000000,33217.000000,21758.000000,47399.000000,14.000000,42.000000,40.000000,9.000000,96.000000,100.000000,...,4259.000000,98.000000,1290.000000,37.000000,79152.000000,59220.000000,90.000000,125.000000,100.000000,100.000000

## Find the maxima/minima 

- Do `idxmax` and `idxmin` to get the maxima/minima of each row/column.
- However, the above will return **only one** value per row/column.
- Thus, if multiple rows/columns attain the maximum/minimum, **only the first** of them will be reported.
- Alternatively, we can mask:
    - `enrollment[enrollment[colname] == enrollment[colname].max()]`

In [22]:
enrollment.idxmax(axis=0)

Undergraduate_enrollment                                                                                      University of Central Florida
Graduate_enrollment                                                                                                      Liberty University
Fulltime_graduate_enrollment                                                                              University of Southern California
Fulltime_undergraduate_enrollment                                                                    Texas A & M University-College Station
Percent_of_undergraduate_enrollment_that_are_American_Indian_or_Alaska_Native                                University of Alaska Fairbanks
Percent_of_undergraduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander                             University of Hawaii at Manoa
Percent_of_undergraduate_enrollment_that_are_Asian                                                       California Institute of Technology
Percent_of_undergraduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander                         University of Hawaii at Hilo
Percent_of_undergraduate_enrollment_that_are_Black_or_African_American                                                   Hampton University
Percent_of_undergraduate_enrollment_that_are_HispanicLatino                                         Universidad Ana G. Mendez-Gurabo Campus
Percent_of_undergraduate_enrollment_that_are_White                                                                       Yeshiva University
Percent_of_undergraduate_enrollment_that_are_two_or_more_races                                                 University of Hawaii at Hilo
Percent_of_undergraduate_enrollment_that_are_Raceethnicity_unknown                                            University of the Cumberlands
Percent_of_undergraduate_enrollment_that_are_Nonresident_Alien                                              Florida Institute of Technology
Percent_of_undergraduate_enrollment_that_are_women                                                                       Simmons University
Percent_of_graduate_enrollment_that_are_American_Indian_or_Alaska_Native                                                University of Tulsa
Percent_of_graduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander                                   University of Hawaii at Hilo
Percent_of_graduate_enrollment_that_are_Asian                                                                  University of Hawaii at Hilo
Percent_of_graduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander                              University of Hawaii at Hilo
Percent_of_graduate_enrollment_that_are_Black_or_African_American                                                  Jackson State University
Percent_of_graduate_enrollment_that_are_HispanicLatino                                              Universidad Ana G. Mendez-Gurabo Campus
Percent_of_graduate_enrollment_that_are_White                                                                             Clarke University
Percent_of_graduate_enrollment_that_are_two_or_more_races                                                      University of Hawaii at Hilo
Percent_of_graduate_enrollment_that_are_Raceethnicity_unknown                                                        Benedictine University
Percent_of_graduate_enrollment_that_are_Nonresident_Alien                                                        Carnegie Mellon University
Percent_of_graduate_enrollment_that_are_women                                                                       St Catherine University
Number_of_firsttime_undergraduates__instate                                                          Texas A & M University-College Station
Percent_of_firsttime_undergraduates__instate                                              Inter American University of Puerto Rico-San G...
Number_of_firsttime_undergraduates__outofstate                                                                    The University of Alabama
Percent_of_firsttime_undergraduates__outofstate                                                          Purdue University Global-Davenport
Number_of_firsttime_undergraduates__foreign_countries                                                        University of California-Davis
Percent_of_firsttime_undergraduates__foreign_countries                                                              University of Rochester
Total_enrollment                                                                                                         Liberty University
Fulltime_enrollment                                                                                  Texas A & M University-College Station
Undergraduate_application_fee                                                                                           Stanford University
Graduate_application_fee                                                                                                  CUNY City College
Percentage_of_fulltime_undergraduate_enrollment                                                          California Institute of Technology
Percentage_of_fulltime_graduate_enrollment                                                               California Institute of Technology
dtype: object

In [23]:
enrollment[enrollment['Graduate_application_fee'] == enrollment['Graduate_application_fee'].max()]

,Undergraduate_enrollment,Graduate_enrollment,Fulltime_graduate_enrollment,Fulltime_undergraduate_enrollment,Percent_of_undergraduate_enrollment_that_are_American_Indian_or_Alaska_Native,Percent_of_undergraduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander,Percent_of_undergraduate_enrollment_that_are_Asian,Percent_of_undergraduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander,Percent_of_undergraduate_enrollment_that_are_Black_or_African_American,Percent_of_undergraduate_enrollment_that_are_HispanicLatino,...,Number_of_firsttime_undergraduates__outofstate,Percent_of_firsttime_undergraduates__outofstate,Number_of_firsttime_undergraduates__foreign_countries,Percent_of_firsttime_undergraduates__foreign_countries,Total_enrollment,Fulltime_enrollment,Undergraduate_application_fee,Graduate_application_fee,Percentage_of_fulltime_undergraduate_enrollment,Percentage_of_fulltime_graduate_enrollment
Institution Name,,,,,,,,,,,,,,,,,,,,,
CUNY City College,13186,2857,740,10248,0,25,24,0,15,39,...,29.0,2.0,41.0,2.0,16043,10988,65.0,125.0,77.718793,25.901295
CUNY Graduate School and University Center,2287,5754,3558,411,0,13,12,0,29,31,...,NaN,NaN,NaN,NaN,8041,3969,65.0,125.0,17.971141,61.835245
Stanford University,7087,10294,9245,7087,1,22,22,0,7,16,...,903.0,53.0,227.0,13.0,17381,16332,90.0,125.0,100.000000,89.809598

# Sort rows/columns of the dataframe

- We can sort by value with `sort_values`
    - We can sort with a secondary column as tiebreaker
    
- We can sort alternatively by column/row names with `sort_index`

In [24]:
enrollment.sort_values(by=['Percent_of_undergraduate_enrollment_that_are_Asian', 'Fulltime_undergraduate_enrollment'],
                      axis=0, ascending=False).iloc[:, 3:15]

,Fulltime_undergraduate_enrollment,Percent_of_undergraduate_enrollment_that_are_American_Indian_or_Alaska_Native,Percent_of_undergraduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander,Percent_of_undergraduate_enrollment_that_are_Asian,Percent_of_undergraduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander,Percent_of_undergraduate_enrollment_that_are_Black_or_African_American,Percent_of_undergraduate_enrollment_that_are_HispanicLatino,Percent_of_undergraduate_enrollment_that_are_White,Percent_of_undergraduate_enrollment_that_are_two_or_more_races,Percent_of_undergraduate_enrollment_that_are_Raceethnicity_unknown,Percent_of_undergraduate_enrollment_that_are_Nonresident_Alien,Percent_of_undergraduate_enrollment_that_are_women
Institution Name,,,,,,,,,,,,
California Institute of Technology,948,0,40,40,0,1,14,27,8,0,9,45
University of Hawaii at Manoa,10739,0,42,39,3,1,11,17,25,0,4,57
University of the Pacific,3584,0,38,37,0,3,21,22,6,3,7,52
University of California-Irvine,29251,0,36,36,0,2,26,13,4,1,17,51
University of California-Berkeley,29570,0,35,35,0,2,15,25,6,4,13,53
...,...,...,...,...,...,...,...,...,...,...,...,...
Hampton University,3510,0,0,0,0,96,1,1,0,0,1,66
Inter American University of Puerto Rico-San German,3379,0,0,0,0,0,99,0,0,0,0,52
Clark Atlanta University,3234,0,0,0,0,89,0,0,0,7,4,75
Yeshiva University,2633,0,0,0,0,0,0,93,0,1,6,47
University of the Cumberlands,1974,0,0,0,0,2,1,37,0,57,2,58

In [25]:
enrollment.sort_values(by=['Andrews University'], axis=1, ascending=False).head()

,Total_enrollment,Fulltime_enrollment,Graduate_enrollment,Undergraduate_enrollment,Fulltime_undergraduate_enrollment,Fulltime_graduate_enrollment,Number_of_firsttime_undergraduates__outofstate,Number_of_firsttime_undergraduates__instate,Percentage_of_fulltime_undergraduate_enrollment,Graduate_application_fee,...,Percent_of_graduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander,Percent_of_graduate_enrollment_that_are_Asian,Percent_of_undergraduate_enrollment_that_are_two_or_more_races,Percent_of_graduate_enrollment_that_are_Raceethnicity_unknown,Percent_of_undergraduate_enrollment_that_are_Raceethnicity_unknown,Percent_of_graduate_enrollment_that_are_two_or_more_races,Percent_of_graduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander,Percent_of_undergraduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander,Percent_of_graduate_enrollment_that_are_American_Indian_or_Alaska_Native,Percent_of_undergraduate_enrollment_that_are_American_Indian_or_Alaska_Native
Institution Name,,,,,,,,,,,,,,,,,,,,,
Adelphi University,8146,6562,2755,5391,5056,1506,100.0,1103.0,NaN,NaN,...,7,7,2,4,7,2,0,0,0,0
American University,14311,11435,6024,8287,7952,3483,1648.0,21.0,95.957524,61.0,...,6,5,4,11,4,3,0,0,0,0
Andrews University,3407,2307,1705,1702,1346,961,171.0,83.0,79.083431,60.0,...,7,6,5,4,3,1,0,0,0,0
Arizona State University-Downtown Phoenix,11584,10062,2882,8702,7787,2275,506.0,898.0,89.485176,70.0,...,5,5,5,2,0,3,0,0,2,2
Arizona State University-Skysong,38540,14115,8760,29780,11473,2642,1517.0,847.0,38.525856,70.0,...,4,4,4,4,0,3,1,0,1,1

In [26]:
enrollment.sort_index(axis=1, ascending=True).head()

,Fulltime_enrollment,Fulltime_graduate_enrollment,Fulltime_undergraduate_enrollment,Graduate_application_fee,Graduate_enrollment,Number_of_firsttime_undergraduates__foreign_countries,Number_of_firsttime_undergraduates__instate,Number_of_firsttime_undergraduates__outofstate,Percent_of_firsttime_undergraduates__foreign_countries,Percent_of_firsttime_undergraduates__instate,...,Percent_of_undergraduate_enrollment_that_are_Nonresident_Alien,Percent_of_undergraduate_enrollment_that_are_Raceethnicity_unknown,Percent_of_undergraduate_enrollment_that_are_White,Percent_of_undergraduate_enrollment_that_are_two_or_more_races,Percent_of_undergraduate_enrollment_that_are_women,Percentage_of_fulltime_graduate_enrollment,Percentage_of_fulltime_undergraduate_enrollment,Total_enrollment,Undergraduate_application_fee,Undergraduate_enrollment
Institution Name,,,,,,,,,,,,,,,,,,,,,
Adelphi University,6562,1506,5056,NaN,2755,42.0,1103.0,100.0,3.0,89.0,...,4,7,50,2,68,NaN,NaN,8146,NaN,5391
American University,11435,3483,7952,61.0,6024,60.0,21.0,1648.0,3.0,1.0,...,13,4,53,4,62,57.818725,95.957524,14311,70.0,8287
Andrews University,2307,961,1346,60.0,1705,38.0,83.0,171.0,13.0,28.0,...,16,3,31,5,56,56.363636,79.083431,3407,30.0,1702
Arizona State University-Downtown Phoenix,10062,2275,7787,70.0,2882,12.0,898.0,506.0,1.0,63.0,...,2,0,47,5,68,78.938237,89.485176,11584,50.0,8702
Arizona State University-Skysong,14115,2642,11473,70.0,8760,15.0,847.0,1517.0,1.0,36.0,...,0,0,62,4,60,30.159817,38.525856,38540,70.0,29780

## If you only want the top10

- Then do `nlargest(number, colname)` or `nsmallest(number, colname)`
- Only tops based on column names
    - Transpose if you want to use rows
- Much faster this way than sorting and slicing, especially when the dataframe is huge.

In [27]:
enrollment.nlargest(10, 'Percent_of_graduate_enrollment_that_are_HispanicLatino')

,Undergraduate_enrollment,Graduate_enrollment,Fulltime_graduate_enrollment,Fulltime_undergraduate_enrollment,Percent_of_undergraduate_enrollment_that_are_American_Indian_or_Alaska_Native,Percent_of_undergraduate_enrollment_that_are_AsianNative_HawaiianPacific_Islander,Percent_of_undergraduate_enrollment_that_are_Asian,Percent_of_undergraduate_enrollment_that_are_Native_Hawaiian_or_Other_Pacific_Islander,Percent_of_undergraduate_enrollment_that_are_Black_or_African_American,Percent_of_undergraduate_enrollment_that_are_HispanicLatino,...,Number_of_firsttime_undergraduates__outofstate,Percent_of_firsttime_undergraduates__outofstate,Number_of_firsttime_undergraduates__foreign_countries,Percent_of_firsttime_undergraduates__foreign_countries,Total_enrollment,Fulltime_enrollment,Undergraduate_application_fee,Graduate_application_fee,Percentage_of_fulltime_undergraduate_enrollment,Percentage_of_fulltime_graduate_enrollment
Institution Name,,,,,,,,,,,,,,,,,,,,,
Universidad Ana G. Mendez-Gurabo Campus,12734,2965,2344,9147,0,0,0,0,0,100,...,0.0,0.0,0.0,0.0,15699,11491,15.0,25.0,71.831318,79.055649
Inter American University of Puerto Rico-Metro,5546,2285,1722,4499,0,0,0,0,1,98,...,8.0,1.0,0.0,0.0,7831,6221,0.0,31.0,81.121529,75.361050
Inter American University of Puerto Rico-San German,3787,663,459,3379,0,0,0,0,0,99,...,1.0,0.0,0.0,0.0,4450,3838,0.0,31.0,89.226301,69.230769
Pontifical Catholic University of Puerto Rico-Ponce,5291,1845,1159,4699,0,0,0,0,0,99,...,0.0,0.0,3.0,0.0,7136,5858,0.0,25.0,88.811189,62.818428
The University of Texas Rio Grande Valley,24678,3966,1244,19128,0,1,1,0,0,90,...,12.0,0.0,49.0,1.0,28644,20372,0.0,50.0,77.510333,31.366616
The University of Texas at El Paso,21464,3687,1387,14044,0,1,1,0,2,83,...,90.0,3.0,181.0,5.0,25151,15431,0.0,45.0,65.430488,37.618660
University of Puerto Rico-Rio Piedras,11657,3275,2415,10238,0,0,0,0,3,83,...,0.0,0.0,1.0,0.0,14932,12653,30.0,20.0,87.827057,73.740458
Brandman University,4276,4490,2012,1233,1,3,2,1,5,53,...,42.0,60.0,0.0,0.0,8766,3245,0.0,0.0,28.835360,44.810690
Florida International University,48818,9124,6780,27906,0,2,2,0,12,67,...,117.0,3.0,547.0,12.0,57942,34686,30.0,30.0,57.163341,74.309513
Our Lady of the Lake University,1419,1730,1527,1291,1,1,1,0,8,77,...,4.0,1.0,0.0,0.0,3149,2818,35.0,40.0,90.979563,88.265896

# Beware of chained indexing

- In general avoid concatenating `data.loc[rowname][colname]` or `data[colname][rowname]`
- An error will pop-up if you try to substitute values whenever indices are chained
- Do `data.loc[which row, which col]`
- If you want to choose a subset of rows, consider using `data.colname ~ condition` instead to mask the relevant rows.
- Alternative, if there's no complicated boolean condition, try `.replace()`

In [28]:
# Chained indexing to be avoided

enrollment.loc['Michigan State University']['Percentage_of_fulltime_graduate_enrollment'] = 74

/home/ejam/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
print(enrollment.loc['Michigan State University' , 'Percentage_of_fulltime_graduate_enrollment'])
enrollment.loc['Michigan State University' , 'Percentage_of_fulltime_graduate_enrollment'] = 74
print(enrollment.loc['Michigan State University' , 'Percentage_of_fulltime_graduate_enrollment'])

74.29538799414348
74.0

In [31]:
print('BEFORE:')
print(enrollment['Percentage_of_fulltime_graduate_enrollment'] )
enrollment.loc[enrollment.Percentage_of_fulltime_graduate_enrollment >= 50 , 'Percentage_of_fulltime_graduate_enrollment'] = 40
print('\nAFTER:')II
print(enrollment['Percentage_of_fulltime_graduate_enrollment'] )

BEFORE:
Institution Name
Adelphi University                                 NaN
American University                          57.818725
Andrews University                           56.363636
Arizona State University-Downtown Phoenix    78.938237
Arizona State University-Skysong             30.159817
                                               ...
Wingate University                           70.404984
Worcester Polytechnic Institute              38.259293
Wright State University-Main Campus          37.837838
Yale University                              98.594189
Yeshiva University                           73.207145
Name: Percentage_of_fulltime_graduate_enrollment, Length: 395, dtype: float64

AFTER:
Institution Name
Adelphi University                                 NaN
American University                          40.000000
Andrews University                           40.000000
Arizona State University-Downtown Phoenix    40.000000
Arizona State University-Skysong             30.159817
                                               ...
Wingate University                           40.000000
Worcester Polytechnic Institute              38.259293
Wright State University-Main Campus          37.837838
Yale University                              40.000000
Yeshiva University                           40.000000
Name: Percentage_of_fulltime_graduate_enrollment, Length: 395, dtype: float64

# Bonus: In case you were wondering

- Slides made with [`RISE`](https://rise.readthedocs.io/en/stable/usage.html)
- Recall that you can also write `R` jupyte**r** notebooks.
    - [If you use anaconda](https://datatofish.com/r-jupyter-notebook/) _I don't use anaconda myself, so I don't know if there are other details to take into account_
    - [If you use python straight from terminal](https://dzone.com/articles/using-r-on-jupyternbspnotebook)

- Despite what the official site says, if you use `jupyter` locally (as opposed to system-wide), after pip installing `RISE`, to actually use it you need to do
    - `jupyter-nbextension install rise --py --user`
    - `jupyter-nbextension enable rise --py --user`
- When it comes to preparing workshops, `jupyter`+`RISE` is the perfect combination, as you can modify the slides in real time.
- On the other hand, it has an extremely limited menu of customizations, where [rmarkdown thrives](https://www.egr.msu.edu/~amezqui3/barley/slides/toronto_2020.html).